CORS_ORIGINS=http://0.0.0.0:8000,http://127.0.0.1:8000
DATABASE_TYPE=sqlite/postgres
POSTGRES_DB=  #и для sqlite
POSTGRES_PORT=5432  #не обязательно с sqlite
POSTGRES_HOST=localhost #не обязательно с sqlite
POSTGRES_USER=  #не обязательно с sqlite
POSTGRES_PASSWORD=  #не обязательно с sqlite
DEBUG=1/0
SECRET_KEY = 'django-insecure-xt3+y%*8*nbh)g8*#4l#e5#8v*5v$kmoid#b7#mmr@t*o)42(g'
